Repository wakamsha/learn-react, changes with the labels that .github/labeler.yml gives for each.
All labels: catalog, core, try, documentation

:sparkles: Recoil の `useRecoilState` を使ったデモを実装する
  apps/statement/package.json
  apps/statement/src/51-recoil-basic/bootstraps/App.tsx
  apps/statement/src/51-recoil-basic/index.tsx
  apps/statement/src/51-recoil-basic/infra/client.ts
  apps/statement/src/51-recoil-basic/infra/model.d.ts
  apps/statement/src/51-recoil-basic/pages/HomePage.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/AddForm.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/EditForm.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/LogSection.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/index.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/states/listState.ts
  apps/statement/src/51-recoil-basic/pages/NotFoundPage.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/components/Log.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/components/NoteItem.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/index.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/states/notepadState.ts
  apps/statement/src/51-recoil-basic/pages/ProfilePage/EditPage.tsx
  apps/statement/src/51-recoil-basic/pages/ProfilePage/ShowPage.tsx
  apps/statement/src/51-recoil-basic/pages/ProfilePage/index.tsx
  apps/statement/src/51-recoil-basic/pages/ProfilePage/states/profileState.ts
  apps/statement/src/51-recoil-basic/pages/UsersPage/components/GetByParamForm.tsx
  apps/statement/src/51-recoil-basic/pages/UsersPage/components/GetForm.tsx
  apps/statement/src/51-recoil-basic/pages/UsersPage/components/Log.tsx
  apps/statement/src/51-recoil-basic/pages/UsersPage/components/PostForm.tsx
  apps/statement/src/51-recoil-basic/pages/UsersPage/index.tsx
  apps/statement/src/51-recoil-basic/pages/UsersPage/states/UsersState.ts
  apps/statement/src/@core/constants/Router.ts
  apps/statement/src/App.tsx
  pnpm-lock.yaml
Labels: none

:recycle: recoil による状態管理をモジュール化する
  apps/statement/src/51-recoil-basic/pages/ListPage/components/AddForm.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/components/EditForm.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/components/LogSection.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/index.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/states/ListState.ts
  apps/statement/src/51-recoil-basic/pages/ListPage/states/listState.ts
  apps/statement/src/51-recoil-basic/pages/NotePage/components/Log.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/components/NoteItem.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/index.tsx
  apps/statement/src/51-recoil-basic/pages/NotePage/states/NotepadState.ts
  apps/statement/src/51-recoil-basic/pages/NotePage/states/notepadState.ts
  apps/statement/src/51-recoil-basic/pages/ProfilePage/EditPage.tsx
  apps/statement/src/51-recoil-basic/pages/ProfilePage/ShowPage.tsx
  apps/statement/src/51-recoil-basic/pages/ProfilePage/states/ProfileState.ts
  apps/statement/src/51-recoil-basic/pages/ProfilePage/states/profileState.ts
Labels: none

:sparkles: TodoList を実装する
  apps/statement/src/51-recoil-basic/bootstraps/App.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/components/AddForm.tsx
  apps/statement/src/51-recoil-basic/pages/ListPage/components/EditForm.tsx
  apps/statement/src/51-recoil-basic/pages/TodoPage/components/AddForm.tsx
  apps/statement/src/51-recoil-basic/pages/TodoPage/components/TodoItem.tsx
  apps/statement/src/51-recoil-basic/pages/TodoPage/components/TodoList.tsx
  apps/statement/src/51-recoil-basic/pages/TodoPage/index.tsx
  apps/statement/src/51-recoil-basic/pages/TodoPage/states/todoState.ts
Labels: none

:cyclone: fix
  .eslintrc.cjs
  eslint-rules/best-practices.cjs
  eslint-rules/errors.cjs
  eslint-rules/es6.cjs
  eslint-rules/imports.cjs
  eslint-rules/jest.cjs
  eslint-rules/jsdoc.cjs
  eslint-rules/jsx-a11y.cjs
  eslint-rules/react-hooks.cjs
  eslint-rules/react.cjs
  eslint-rules/style.cjs
  eslint-rules/typescript.cjs
  eslint-rules/variables.cjs
  package.json
Labels: none

:pill: goodbye eslint-config-airbnb-base
  package.json
  pnpm-lock.yaml
Labels: none

:pill: eslint-plugin-promise
  apps/esnext/src/decorator/index.ts
  apps/esnext/src/generator/index.tsx
  eslint-rules/promise.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: none

:wrench: catalog のビルド設定を top-level await をサポートしているブラウザ向けに変更する
  apps/catalog/vite.config.ts
  packages/builder/src/index.ts
  packages/core/src/components/dataDisplay/PDFViewer/index.tsx
Labels: catalog, core

:wrench: update errors
  cspell.json
  eslint-rules/errors.js
Labels: none

:wrench: update best-practices
  eslint-rules/best-practices.js
Labels: none

:wrench: update eslint rule "typescript"
  apps/catalog/src/pages/StoryPage/LayoutConfigContainer.ts
  eslint-rules/typescript.js
  packages/core/src/components/inputs/Button/index.tsx
Labels: catalog, core

:wrench: update es6
  eslint-rules/es6.js
Labels: none

:wrench: update imports
  eslint-rules/imports.js
  packages/builder/src/index.ts
Labels: none

:wrench: update eslint rule "style"
  eslint-rules/style.js
Labels: none

:cyclone: disable deprecated rules
  eslint-rules/best-practices.js
  eslint-rules/errors.js
  eslint-rules/es6.js
  eslint-rules/style.js
  eslint-rules/variables.js
Labels: none

:wrench: update eslint rule "jest"
  eslint-rules/jest.js
  packages/core/src/helpers/String.test.ts
Labels: core

:wrench: allow using `for-of`
  apps/catalog/src/hooks/useStory.ts
  eslint-rules/style.js
  eslint-rules/typescript.js
  packages/core/src/helpers/Cookie.ts
Labels: catalog, core

:wrench: update eslint rule "jsx-a11y"
  eslint-rules/jsx-a11y.js
Labels: none

:wrench: update eslint rule "typescript"
  apps/catalog/src/hooks/useStory.ts
  apps/esnext/src/decorator/Decorators.ts
  apps/esnext/src/generator/api-client.ts
  apps/statement/src/22-mobx-hooks/infra/client.ts
  eslint-rules/typescript.js
  packages/core/src/components/dataDisplay/PDFViewer/index.tsx
  packages/core/src/helpers/Api.ts
  packages/try/src/Transition2/common/Api.ts
Labels: catalog, core, try

:wrench: update eslint rule "jsx-a11y"
  eslint-rules/jsx-a11y.js
Labels: none

:cyclone: fix code
  apps/catalog/src/components/Navigation/index.tsx
  apps/esnext/src/generator/index.tsx
  packages/core/src/components/inputs/Calendar/index.tsx
  packages/core/src/components/navigation/Sidebar/index.tsx
  packages/core/src/helpers/Storage.ts
  packages/core/src/hooks/useData/Loadable.ts
  packages/core/src/hooks/useListBox/WithIconButton.story.tsx
  packages/try/src/Suspense2/RenderAsYouFetch/Loadable.ts
  packages/try/src/Transition/common/Loadable.ts
  packages/try/src/Transition2/common/Loadable.ts
Labels: catalog, core, try

:wrench: update eslint rule "variables"
  eslint-rules/variables.js
Labels: none

:wrench: update eslint rule "jsx-a11y"
  eslint-rules/jsx-a11y.js
Labels: none

:wrench: update eslint rule "promise"
  eslint-rules/promise.js
Labels: none

:wrench: update eslint rule "variables"
  eslint-rules/variables.js
Labels: none

:wrench: update eslint rule "react"
  apps/catalog/src/components/Layout/useLayoutConfig.ts
  apps/catalog/src/pages/StoryPage/index.tsx
  apps/routing/src/index.tsx
  apps/statement/src/22-mobx-hooks/pages/ListPage.tsx
  apps/statement/src/22-mobx-hooks/pages/Profiles/index.tsx
  apps/statement/src/22-mobx-hooks/pages/Users/index.tsx
  apps/statement/src/App.tsx
  eslint-rules/react.js
  packages/core/src/components/feedback/Toast/index.tsx
  packages/core/src/components/feedback/ToastLegacy/index.tsx
  packages/core/src/components/feedback/ToastLegacy2/index.tsx
  packages/core/src/components/inputs/Calendar/index.tsx
  packages/try/src/Suspense2/RenderAsYouFetch/index.tsx
Labels: catalog, core, try

:wrench: fix
  apps/esnext/src/generator/api-client.ts
  eslint-rules/typescript.js
  packages/try/src/Suspense/api.ts
  packages/try/src/Transition2/common/Api.ts
Labels: try

:wrench: fix (#1559)
  apps/esnext/src/generator/api-client.ts
  eslint-rules/typescript.js
  packages/try/src/Suspense/api.ts
  packages/try/src/Transition2/common/Api.ts
Labels: try

:wrench: setup unit testing environment with vitest
  eslint.config.js
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Labels: core

:wrench: replace eslint-plugin-vitest from jest
  eslint-rules/jest.js
  eslint-rules/vitest.js
  eslint.config.js
  package.json
  packages/builder/tsconfig.json
  packages/core/jest.config.js
  packages/core/package.json
  pnpm-lock.yaml
Labels: core

Unit Test ライブラリーを Jest から Vitest に置き換える (#1560)
  eslint-rules/jest.js
  eslint-rules/vitest.js
  eslint.config.js
  package.json
  packages/builder/tsconfig.json
  packages/core/jest.config.js
  packages/core/package.json
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  pnpm-lock.yaml
Labels: core

:wrench: implement the unit test for Button component
  eslint-rules/imports.js
  packages/core/package.json
  packages/core/src/components/inputs/Button/index.test.tsx
  packages/core/vite.config.ts
  pnpm-lock.yaml
Labels: core

:wrench: split the code to import `testing-library/jest-dom`
  eslint.config.js
  packages/core/package.json
  packages/core/src/components/inputs/Button/index.test.tsx
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/core/vitest.setup.ts
Labels: core

Button コンポーネントの Unit Test を作成する (#1561)
  eslint-rules/imports.js
  eslint.config.js
  packages/core/package.json
  packages/core/src/components/inputs/Button/index.test.tsx
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/core/vitest.setup.ts
  pnpm-lock.yaml
Labels: core

.github/labeler.yml:

catalog:
  - apps/catalog/**/*
core:
  - packages/core/**/*
try:
  - packages/try/**/*
documentation:
  - apps/**/*.md
  - packages/**/*.md
  - '*.md'
