Repository wakamsha/learn-react, changes with the labels that .github/labeler.yml gives for each.
All labels: catalog, core, try, documentation

.github/labeler.yml:

catalog:
  - apps/catalog/**/*
core:
  - packages/core/**/*
try:
  - packages/try/**/*
documentation:
  - apps/**/*.md
  - packages/**/*.md
  - '*.md'

:wrench: labeler (#1076)
  .github/workflows/labeler.yml
Labels: none

:wrench: fix style props order
  apps/catalog/src/pages/StoryPage/LayoutSwitch.tsx
  apps/catalog/src/pages/StoryPage/ToolbarButton.tsx
  apps/catalog/src/pages/StoryPage/ViewportSwitch.tsx
  apps/statement/src/41-constate-basic/containers/ListContainer.ts
  apps/statement/src/41-constate-basic/containers/ProfileContainer.ts
  packages/core/src/components/feedback/Toast/index.tsx
  packages/core/src/components/inputs/Button/index.tsx
  packages/core/src/components/inputs/Calendar/index.tsx
  packages/core/src/components/inputs/ComboBox/index.tsx
  packages/core/src/components/inputs/Range/index.tsx
  packages/core/src/components/inputs/Select/index.tsx
  packages/core/src/components/inputs/TextArea/index.tsx
  packages/core/src/components/inputs/TextField/index.tsx
  packages/core/src/components/navigation/Menu/index.story.tsx
  packages/core/src/hooks/useListBox/WithButton.story.tsx
  packages/core/src/hooks/useListBox/WithIconButton.story.tsx
  packages/core/src/hooks/useListBox/WithPopover.story.tsx
Labels: catalog, core

:pill: update prettier
  apps/catalog/src/components/Layout/index.tsx
  apps/catalog/src/components/Navigation/index.tsx
  apps/catalog/src/pages/StoryPage/index.tsx
  package.json
  packages/core/src/components/dataDisplay/Tooltip/index.tsx
  packages/core/src/components/feedback/Preloader/index.tsx
  packages/core/src/components/inputs/Checkbox/index.tsx
  packages/core/src/components/inputs/IconButton/index.tsx
  packages/core/src/components/navigation/Tabs/index.tsx
  packages/core/src/components/utils/Modal/index.tsx
  packages/core/src/components/utils/Transition/index.tsx
  pnpm-lock.yaml
  prettier.config.js
Labels: catalog, core

:pill: update prettier
  packages/icon/.prettierrc.cjs
  packages/icon/package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: none

Prettier を v3.0 にアップデートする (#1120)
  .prettierrc.cjs
  apps/catalog/src/components/Layout/index.tsx
  apps/catalog/src/components/Navigation/index.tsx
  apps/catalog/src/pages/StoryPage/index.tsx
  package.json
  packages/core/src/components/dataDisplay/Tooltip/index.tsx
  packages/core/src/components/feedback/Preloader/index.tsx
  packages/core/src/components/inputs/Checkbox/index.tsx
  packages/core/src/components/inputs/IconButton/index.tsx
  packages/core/src/components/navigation/Tabs/index.tsx
  packages/core/src/components/utils/Modal/index.tsx
  packages/core/src/components/utils/Transition/index.tsx
  packages/icon/package.json
  pnpm-lock.yaml
  prettier.config.js
Labels: catalog, core

:pill: update prettier
  pnpm-lock.yaml
Labels: none

:pill: update prettier
  pnpm-lock.yaml
Labels: none

:pill: update prettier
  packages/icon/prettier.config.js
Labels: none

Prettier を v3.0 にアップデートする take2 (#1121)
  packages/icon/prettier.config.js
Labels: none

:cyclone: eslint rules の並び順を flat config 風味に変更する
  .eslintrc.cjs
  cspell.json
Labels: none

:wrench: tag 間に空行を入れる
  .eslintrc.cjs
  apps/catalog/src/components/Navigation/index.tsx
  apps/catalog/src/hooks/useStory.ts
  apps/catalog/templates/stories.js
  apps/esnext/src/decorator/Decorators.ts
  packages/core/src/components/inputs/Calendar/index.tsx
  packages/core/src/components/navigation/Menu/index.tsx
  packages/core/src/components/utils/ErrorBoundary/index.tsx
  packages/core/src/components/utils/PageTransition/index.tsx
  packages/core/src/components/utils/SplitPane/index.tsx
  packages/core/src/constants/Style/index.story.tsx
  packages/core/src/helpers/Browser.ts
  packages/core/src/helpers/Component.tsx
  packages/core/src/helpers/Container.tsx
  packages/core/src/helpers/Cookie.ts
  packages/core/src/helpers/Storage.ts
  packages/core/src/helpers/String.ts
  packages/core/src/helpers/Style.ts
  packages/core/src/helpers/Type.ts
  packages/core/src/hooks/useClickOutside/index.ts
  packages/core/src/hooks/useContext.ts
  packages/core/src/hooks/useData/Loadable.ts
  packages/core/src/hooks/useData/index.ts
  packages/core/src/hooks/useDebounedState/index.ts
  packages/core/src/hooks/useFocusTrap.ts
  packages/core/src/hooks/useHotkeys/index.ts
  packages/core/src/hooks/useListBox/index.ts
  packages/core/src/hooks/useShuffleLetters/index.ts
  packages/core/src/hooks/useTransaction/index.ts
  packages/try/src/Transition/common/Loadable.ts
  packages/try/src/Transition2/common/Loadable.ts
  packages/try/src/useDeferredValue/index.story.tsx
Labels: catalog, core, try

:cyclone: デバッグ用スクリプトを削除する
  package.json
Labels: none

:cyclone: fix
  packages/core/src/components/utils/Modal/index.tsx
Labels: core

:recycle: SplitPane のコードをきれいにする
  packages/core/src/components/utils/SplitPane/index.tsx
Labels: core

:construction: eslint config をルールごとにファイル分割する
  cspell.json
  eslint-rules/best-practices.js
  eslint-rules/imports.js
  eslint-rules/react-hooks.js
  eslint-rules/react.js
  eslint.config.js
Labels: none

:wrench: import を導入する
  .vscode/settings.recommended.json
  cspell.json
  eslint.config.js
  package.json
Labels: none

:wrench: fix style props order
  eslint.config.js
Labels: none

:wrench: jsdoc ルールを flat config 化する
  eslint-rules/jsdoc.js
  eslint.config.js
Labels: none

:wrench: jsx-a11y ルールを flat config 化する
  cspell.json
  eslint-rules/jsx-a11y.js
  eslint.config.js
Labels: none

:wrench: errors ルールを flat config 化する
  cspell.json
  eslint-rules/errors.js
  eslint.config.js
Labels: none

:wrench: eslint-config-airbnb-base のルール
  .eslintrc.cjs
  cspell.json
  eslint-rules/best-practices.cjs
  eslint-rules/errors.cjs
  eslint-rules/es6.cjs
  eslint-rules/imports.cjs
  eslint-rules/jest.cjs
  eslint-rules/jsdoc.cjs
  eslint-rules/jsx-a11y.cjs
  eslint-rules/react-hooks.cjs
  eslint-rules/react-hooks.js
  eslint-rules/react.cjs
  eslint-rules/style.cjs
  eslint-rules/typescript.cjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
Labels: none

:wrench: typescript-eslint のルールを別ファイルとして切り出す
  .eslintrc.cjs
  eslint-rules/typescript.cjs
Labels: none

:wrench: typescript-eslint のルールを別ファイルとして切り出す
  .eslintrc.cjs
Labels: none

:pill: eslint-config-airbnb をアンインストールする
  package.json
  pnpm-lock.yaml
Labels: none

:pill: variables ルールを切り出す
  .eslintrc.cjs
  eslint-rules/variables.cjs
  package.json
Labels: none

:cyclone: remove useless
  .vscode/settings.recommended.json
Labels: none

:wrench: export されている type alias の JSDoc を必須化する
  eslint-rules/jsdoc.cjs
Labels: none

:wrench: export されている type alias の JSDoc を必須化する (#1140)
  eslint-rules/jsdoc.cjs
Labels: none

:wrench: export されている type alias の JSDoc を必須化する
  apps/catalog/src/components/Layout/VO.ts
  apps/catalog/src/pages/StoryPage/ToolbarButton.tsx
  apps/catalog/src/pages/StoryPage/VO.ts
  apps/esnext/src/generator/api-client.ts
  packages/builder/src/index.ts
  packages/core/src/components/feedback/Toast/index.tsx
  packages/core/src/components/feedback/ToastLegacy/index.tsx
  packages/core/src/components/feedback/ToastLegacy2/index.tsx
  packages/core/src/components/inputs/TextArea/index.tsx
  packages/core/src/components/utils/ErrorBoundary/index.tsx
  packages/core/src/components/utils/PageTransition/index.tsx
  packages/core/src/constants/VO.ts
  packages/core/src/helpers/Api.ts
  packages/core/src/hooks/useTransaction/index.ts
Labels: catalog, core

:wrench: export されている変数の JSDoc を必須化する
  apps/catalog/src/components/Layout/VO.ts
  apps/catalog/src/pages/StoryPage/LayoutConfigContainer.ts
  apps/catalog/src/pages/StoryPage/ToolbarButton.tsx
  apps/catalog/src/pages/StoryPage/VO.ts
  apps/catalog/templates/stories.js
  eslint-rules/jsdoc.cjs
  packages/core/src/components/feedback/ToastLegacy/index.tsx
  packages/core/src/components/feedback/ToastLegacy2/index.tsx
  packages/core/src/components/utils/SplitPane/Pane.tsx
  packages/core/src/constants/Style/index.ts
Labels: catalog, core

:wrench: fix doc
  packages/builder/src/index.ts
Labels: none

Lint error となっている type alias 及び変数 に JSDoc を追記する (#1154)
  apps/catalog/src/components/Layout/VO.ts
  apps/catalog/src/pages/StoryPage/LayoutConfigContainer.ts
  apps/catalog/src/pages/StoryPage/ToolbarButton.tsx
  apps/catalog/src/pages/StoryPage/VO.ts
  apps/catalog/templates/stories.js
  apps/esnext/src/generator/api-client.ts
  eslint-rules/jsdoc.cjs
  packages/builder/src/index.ts
  packages/core/src/components/feedback/Toast/index.tsx
  packages/core/src/components/feedback/ToastLegacy/index.tsx
  packages/core/src/components/feedback/ToastLegacy2/index.tsx
  packages/core/src/components/inputs/TextArea/index.tsx
  packages/core/src/components/utils/ErrorBoundary/index.tsx
  packages/core/src/components/utils/PageTransition/index.tsx
  packages/core/src/components/utils/SplitPane/Pane.tsx
  packages/core/src/constants/Style/index.ts
  packages/core/src/constants/VO.ts
  packages/core/src/helpers/Api.ts
  packages/core/src/helpers/Style.ts
  packages/core/src/hooks/useData/Loadable.ts
  packages/core/src/hooks/useTransaction/index.ts
Labels: catalog, core

:cyclone: 既に無効化されているルールの記述を削除する
  eslint-rules/jsdoc.cjs
Labels: none

:cyclone: 既に無効化されているルールの記述を削除する (#1157)
  eslint-rules/jsdoc.cjs
Labels: none

:cyclone: fix
  eslint-rules/react.cjs
  prettier.config.js
Labels: none

:cyclone: fix (#1180)
  eslint-rules/react.cjs
  prettier.config.js
Labels: none

:wrench: 空のコンストラクタメソッドを許容する
  eslint-rules/best-practices.cjs
Labels: none

:wrench: import/order を無効化する
  eslint-rules/imports.cjs
Labels: none

ESLint のルールにあった抜け漏れを改修する (#1193)
  eslint-rules/best-practices.cjs
  eslint-rules/imports.cjs
Labels: none

:recycle: 22-mobx-hooks のディレクトリ構成を修正する
  apps/statement/src/22-mobx-hooks/bootstraps/App.tsx
  apps/statement/src/22-mobx-hooks/pages/ListPage/index.tsx
  apps/statement/src/22-mobx-hooks/pages/ListPage/stores/ListStore.ts
  apps/statement/src/22-mobx-hooks/pages/UsersPage/components/GetByParamForm.tsx
  apps/statement/src/22-mobx-hooks/pages/UsersPage/components/GetForm.tsx
  apps/statement/src/22-mobx-hooks/pages/UsersPage/components/Log.tsx
  apps/statement/src/22-mobx-hooks/pages/UsersPage/components/PostForm.tsx
  apps/statement/src/22-mobx-hooks/pages/UsersPage/index.tsx
  apps/statement/src/22-mobx-hooks/pages/UsersPage/stores/UsersStore.ts
Labels: none
