Repository wakamsha/learn-react, changes with the labels that .github/labeler.yml gives for each.
All labels: catalog, core, try, documentation

:wrench: `icon` パッケージに prettier をインストールする
  packages/icon/.prettierrc.cjs
  packages/icon/package.json
  packages/icon/templates/index.js
  packages/icon/tsconfig.json
  pnpm-lock.yaml
Labels: none

:cyclone: セットアップ処理のためのスクリプト名を `prepare` に変更する
  README.md
  package.json
Labels: documentation

icon ビルド時のフォーマット処理は icon パッケージ配下にインストールしたモジュールのみを使って実行する (#956)
  README.md
  package.json
  packages/icon/.prettierrc.cjs
  packages/icon/package.json
  packages/icon/templates/index.js
  packages/icon/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

:memo: pull request template をブラッシュアップする
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

:wrench: `icon` の順序をアルファベット昇順に修正する
  .eslintrc.cjs
  packages/icon/bin/build.js
Labels: none

:wrench: `icon` の順序をアルファベット昇順に修正する (#957)
  .eslintrc.cjs
  packages/icon/bin/build.js
Labels: none

:cyclone: indeterminate と checked の振る舞いを修正する
  packages/core/src/components/inputs/Checkbox/index.story.tsx
  packages/core/src/components/inputs/Checkbox/index.tsx
Labels: core

:cyclone: indeterminate と checked の振る舞いを修正する (#979)
  packages/core/src/components/inputs/Checkbox/index.story.tsx
  packages/core/src/components/inputs/Checkbox/index.tsx
Labels: core

Revert ":pill: Update Node.js to v18.16.0 (#988)"
  .node-version
  package.json
Labels: none

:cyclone: indeterminate と checked の振る舞いを修正する (#979)
  packages/core/src/components/inputs/Checkbox/index.story.tsx
  packages/core/src/components/inputs/Checkbox/index.tsx
Labels: core

Revert ":pill: Update Node.js to v18.16.0 (#988)" (#990)
  .node-version
  package.json
Labels: none

:wrench: `stability-days` を `minimumReleaseAge` に置き換える
  renovate.json
Labels: none

:wrench: `stability-days` を `minimumReleaseAge` に置き換える (#991)
  renovate.json
Labels: none

:cyclone: codegen の拡張子を `js` にする
  apps/catalog/bin/codegen.js
  apps/catalog/package.json
Labels: catalog

:cyclone: glob の import 文を修正する
  apps/catalog/bin/codegen.mjs
  packages/icon/bin/build.js
Labels: catalog

:construction: catalog の全ての story をキャプチャする処理を実装する
  .gitignore
  apps/catalog/bin/capture.js
  apps/catalog/package.json
  pnpm-lock.yaml
Labels: catalog

:construction: ブラウザ別に story をキャプチャする処理を実装する
  apps/catalog/bin/capture.js
  apps/catalog/package.json
Labels: catalog

:construction: 指定の stories を除外できるようにする
  .eslintrc.cjs
  apps/catalog/bin/capture.js
  apps/catalog/capture.config.js
Labels: catalog

:construction: browsers に `firefox` を追加する
  apps/catalog/bin/capture.js
Labels: catalog

Catalog にある Stories のスクリーンショットをキャプチャするタスクを実装する (#1023)
  .eslintrc.cjs
  .gitignore
  apps/catalog/bin/capture.js
  apps/catalog/capture.config.js
  apps/catalog/package.json
  pnpm-lock.yaml
Labels: catalog

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:wrench: fix pnpm-lock
  pnpm-lock.yaml
Labels: none

:construction: `dashboard` アイコンを追加する
  packages/icon/src/dashboard.svg
Labels: none

:construction: `Card` の min-height を削除する
  packages/core/src/components/surfaces/Card/index.tsx
Labels: core

:sparkles: `LayoutSwitch` を dropdown menu にする
  apps/catalog/src/pages/StoryPage/LayoutSwitch.tsx
  apps/catalog/src/pages/StoryPage/ViewportSwitch.tsx
  apps/catalog/src/pages/StoryPage/index.tsx
Labels: catalog

Catalog の Layout switch を Menu list 形式にする (#1062)
  apps/catalog/src/pages/StoryPage/LayoutSwitch.tsx
  apps/catalog/src/pages/StoryPage/ViewportSwitch.tsx
  apps/catalog/src/pages/StoryPage/index.tsx
  packages/core/src/components/surfaces/Card/index.tsx
  packages/icon/src/dashboard.svg
Labels: catalog, core

:sparkles: `useClickOutside` を実装する
  packages/core/src/hooks/useClickOutside/index.story.tsx
  packages/core/src/hooks/useClickOutside/index.ts
Labels: core

:cyclone: touch event をサポートする
  packages/core/src/hooks/useClickOutside/index.story.tsx
  packages/core/src/hooks/useClickOutside/index.ts
  packages/icon/src/dashboard.svg
Labels: core

useClickOutside を実装する (#1063)
  packages/core/src/hooks/useClickOutside/index.story.tsx
  packages/core/src/hooks/useClickOutside/index.ts
  packages/icon/src/dashboard.svg
Labels: core

:wrench: eslint
  .eslintrc.cjs
  .husky/pre-commit
  lint-staged.config.cjs
  package.json
  packages/icon/bin/build.js
  packages/icon/templates/index.js
Labels: none

:wrench: prettier
  .github/CONTRIBUTING.md
  .prettierignore
  lint-staged.config.cjs
  package.json
  packages/try/src/Transition/5_Pending.story.tsx
  packages/try/src/Transition/README.md
Labels: try, documentation

:wrench: stylelint
  package.json
Labels: none

:wrench: fix
  apps/catalog/bin/codegen.js
  apps/catalog/templates/stories.js
  apps/catalog/tsconfig.json
  lint-staged.config.cjs
  package.json
Labels: catalog

各種 Linter の設定ファイルをブラッシュアップする (#1075)
  .eslintrc.cjs
  .github/CONTRIBUTING.md
  .husky/pre-commit
  .prettierignore
  apps/catalog/bin/codegen.js
  apps/catalog/templates/stories.js
  apps/catalog/tsconfig.json
  lint-staged.config.cjs
  package.json
  packages/icon/bin/build.js
  packages/icon/templates/index.js
  packages/try/src/Transition/5_Pending.story.tsx
  packages/try/src/Transition/README.md
Labels: catalog, try, documentation

:wrench: labeler
  .github/workflows/labeler.yml
Labels: none

.github/labeler.yml:

catalog:
  - apps/catalog/**/*
core:
  - packages/core/**/*
try:
  - packages/try/**/*
documentation:
  - apps/**/*.md
  - packages/**/*.md
  - '*.md'
